ul#flash-messages-list {
  position: absolute;
  right: 0;
  list-style-type: none;
  z-index: 100;
  padding: 0;
}
ul#flash-messages-list.auth-flash-messages {
  top: 0;
}

#flash-message {
  /* animation: flash 8s; */
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

  #message-success {
    float: right;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #55b369;
    text-align: center;
    color: #FFF;
  }

  #message-error {
    float: right;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e25e2a;
    text-align: center;
    color: #FFF;
  }