#password-settings h1#title::before {
  content: 'UPDATE YOUR PASSWORD';
}

  #password-settings p#top-paragraph::before {
    content: 'To change password, please follow below steps:';
  }

#password-settings [name="custom-form"] header p b::before {
  content: 'Please enter and confirm new password.';
}